.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  grid-template-rows: repeat(auto-fit, 271px);
  grid-row-start : 1;
  grid-row-end: 4;
  gap: 30px 24px;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
  overflow: hidden;
}

.card-list__text {
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  width: 1140px;
  text-align: center;
}

@media all and (max-width: 1279px) {
  .card-list {
    grid-template-columns: repeat(auto-fit, 339px);
    grid-template-rows: repeat(auto-fit, 258px);
    gap: 36px 30px;
  }
  .card-list__text {
    width: 708px;
  }
  
}
@media all and (max-width: 767px) {
  .card-list {
    grid-template-columns: 300px;
    grid-template-rows: repeat(5, 236px);
    gap: 16px 0;
  }
  .card-list__text {
    width: 300px;
  }
} 