.app {
  min-height: 100vh;
  max-width: 1280px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
/*
* {
outline: 1px solid red;
}*/
@media all and (max-width: 1279px) {
  .app {
    max-width: 1001px;
  }
}
@media all and (max-width: 1000px) {
  .app {
    max-width: 768px;
  }

}
@media all and (max-width: 767px) {
  .app {
    max-width: 351px;
  }

}

@media all and (max-width: 350px) {
  .app {
    max-width: 320px;
  }
}